*{
margin:0;
padding:0;
font-family: Raleway, sans-seriff;
text-decoration: none;
}

.wrap{
height:100%;
width:100%;
background-color:#fff;
background-size:cover;
position:absolute;

}
.form{
width:380px;
height:480px;
position:relative;
margin:6% auto;
background:#fff;
padding:5px;
overflow:hidden;
border: 2px solid black;
}
.butnbox{
width:220px;
margin:35px auto;
position:relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius:30px;

}
.toggle{
padding:10px 30px;
cursor: pointer;
background:transparent;
border:0;
outline:none;
position: relative;

}
#btn{
top:0;
left:0;
position:absolute;
width:110px;
height: 100%;
background:linear-gradient(to right, #ff105f, #ffad06);
border-radius:30px;
transition:.5s;

}

.input-group{
top: 210px;
margin: 0px  100px;
position:absolute;
width:280px;
transition:.5s;
}

.input-field{
width:100%;
padding: 20px 0;
margin:10px 0;
border:none;
border-bottom:1px dashed #999;
}
.submit-btn{
width:85%;
padding:10px;
cursor:pointer;
display:block;
margin:30px 10px 30px 0;
background:linear-gradient(to right, #ff105f, #ffad06);
border:o;
outline:none;
border-radius:30px;
}

#login{
left:400px;

}
#signup{
left:400px;

}

