{
margin:0;
padding:0;
font-family:'R', sans-serif;

}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
font-size: 36px;
text-align: center;
}

.buttons-tors{
    margin: 50px;
}

.buttons-tors a{
text-align: center;
border-radius:40px;
padding: 40px 100px;
background:linear-gradient(90deg,#0162c8,#55e7fc);
overflow:hidden;
color: aliceblue;
}

span{
position:absolute;
background:#fff;
transform:translate(-50%,-50%);
pointer-events:none;
border-radius:50%;
animation:animate 1s linear infinite;

}
@keyframes animate{
0%{
width:0px;
height:0px;
opacity:0.5;
}
100%{
width:500px;
height:500px;
opacity:0;
}
}