<!DOCTYPE html>
<html>
<head>
<title>Add Course</title>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>
<body class="nogrid-body">
<div class="wrap">
<h2>Add Course</h2>

<form class="form" method="POST" style="padding: 30px; height: 300px;">
<input type="text" name='cname' placeholder="Course Name" required class="input-field" style="background-color: transparent">
<input type="text" name='subt' placeholder="Topic" required class="input-field" style="background-color: transparent">
<input type="submit" value="Submit" class="submit-btn">
        
</form>





</div>
</body>
</html>
